<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SlideOrientation</key>
	<integer>0</integer>
	<key>SlideShowMode</key>
	<integer>0</integer>
	<key>MarginTop</key>
	<integer>0</integer>
	<key>MarginRight</key>
	<integer>0</integer>
	<key>MarginLeft</key>
	<integer>0</integer>
	<key>MarginBottom</key>
	<integer>0</integer>
	<key>SlideDuration</key>
	<integer>0</integer>
	<key>TransitionDuration</key>
	<integer>0</integer>
	<key>ShowAfter</key>
	<integer>0</integer>
	<key>IsSlideShowOverlay</key>
	<false/>
	<key>IsSlideShow</key>
	<false/>
	<key>KeyColor</key>
	<string></string>
	<key>Saturation</key>
	<integer>0</integer>
	<key>Hue</key>
	<integer>0</integer>
	<key>Threshold</key>
	<integer>0</integer>
	<key>Softness</key>
	<integer>0</integer>
	<key>Gray</key>
	<integer>0</integer>
	<key>Brightness</key>
	<integer>0</integer>
	<key>Contrast</key>
	<integer>0</integer>
	<key>BackgroundRemovalOption</key>
	<integer>0</integer>
	<key>IsProp</key>
	<false/>
	<key>IsText</key>
	<false/>
	<key>IsDraw</key>
	<false/>
	<key>IsPhotoEdit</key>
	<false/>
	<key>OverridePrinterName</key>
	<string></string>
	<key>MaxPrintCount</key>
	<integer>1</integer>
	<key>IsRemovePrint</key>
	<false/>
	<key>IsDisablePinchToZoom</key>
	<false/>
	<key>DeletePhotoPassword</key>
	<string></string>
	<key>IsDeletePhoto</key>
	<false/>
	<key>TimeOutForSharing</key>
	<integer>60</integer>
	<key>IsTimeOutForSharing</key>
	<false/>
	<key>DisbleInternetSharing</key>
	<false/>
	<key>MaxImageSelectionCount</key>
	<integer>10</integer>
	<key>IsGifFrameSelection</key>
	<false/>
	<key>IsVideoFrameSelection</key>
	<false/>
	<key>IsAlbumMode</key>
	<false/>
	<key>FoundedHelperName</key>
	<string></string>
	<key>IsAutoSearchMode</key>
	<true/>
</dict>
</plist>
